<div class="navbar-bottom login-container">
  <div class="navbar navbar-inverse bg-indigo has-shadow">
    <div class="navbar-header">
      <a class="navbar-brand"><img src="/images/logo/logo.png" alt=""></a>
    </div>
  </div>
  <div class="page-container">
    <div class="page-content">
      <div class="content-wrapper">
        <%= form_tag login_manager_index_path, authenticity_token: true, method: :post, class: "login-form" do %>
          <div class="panel panel-body">
            <div class="text-center">
              <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
              <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
            </div>
            <div class="form-group has-feedback has-feedback-left">
              <input type="text" class="form-control" placeholder="Email" name="email"/>
              <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
              </div>
            </div>
            <div class="form-group has-feedback has-feedback-left">
              <input type="password" class="form-control" placeholder="Password" name="password" />
              <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn bg-pink-400 btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
