<div class="page-content">
  <%= render "shared/advisors/siderbar" %>
  <div class="content-wrapper">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Overview</h5>
      </div>
      <div class="panel-body">
        <%= render "overview_form" %>
      </div>
    </div>
  </div>
</div>
