<p>Hi <%= @invited_referral.name %>,</p>
<p>My name is Dane Chodos (Lic. # 01985626) and I’m a Loan Advisor with <a href="www.blacklinelending.com">Blackline Lending</a>.</p>

<p><%= @user.full_name %> thought you would be interested in learning more about how Blackline can make your next commercial loan process a simple and fast experience with dedicated help every step of the way.</p>

<p>
  Here are a few reasons why borrowers love Blackline:</p>
  <ul>
    <li>Get at least 3 competitive quotes for your scenario</li>
    <li>Simple and transparent online process</li>
    <li>Reliable lending sources across all 50 states</li>
  </ul>
</p>

<p>
Could we set up an introductory call so I can better learn your financing needs? From there I can propose several loan programs tailored to your scenario.
</p>

<p>
When’s a good time for a 5-minute phone call?
</p>

<%= @loan_member ? @loan_member.subjectable.email_signature.to_s.html_safe : nil %>