
.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.service-item-info {
  table {
    width: 100%;
  }
  tr td:first-child {
    width: 50%;
  }
}

.dropzone {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropzone > div {
  width: 100% !important;
  text-align: center;
  i {
    margin-top: 65px;
  }
}

.about-page {
  .image-top {
    margin-top: 57px;
  }
  .about-content {
  }
  .about-header {
    font-size: 50px;
    margin-bottom: 40px;
    line-height: 1.2;
  }
  .our-team {
    background-color: #ffe644;
  }
  .about-quote {
    h3 {
      font-weight: 600;
    }
  }
}

.helpful-faq {
  margin-top: 20px;
}

.footer-legal {
  p {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 5px;

    a {
      color: #ccc;
    }
  }
}

.privacy-content {
  a {
    color: #95c41f;
  }

  ul {
    li {
      list-style-type: disc;
    }
    margin-left: 30px;
  }

  ol {
    padding-left: 0px;
    margin-left: 30px;

    li {
      list-style-type: decimal;
    }
  }
}

.about-sheltek-info {
  ul {
    margin-left: 16px;
  }
  ul > li {
    color: #606060;
    font-weight: 300;
    list-style: disc;
  }
}

.btn-group button {
  background: #c5c5c5 none repeat scroll 0 0;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid white;
  font-size: 14px;
  padding: 0px 15px;
  height: 30px;
  line-height: 30px;
}

.btn-group button:hover, .btn-group button:focus, .btn-group button:active, .btn-group button.active{
  background: #95c41f none repeat scroll 0 0;
  color: white;
  border: 1px solid white;
}