@import "admin/icomoon";
@import "admin/bootstrap.min";
@import "admin/core.min";
@import "admin/components.min";
@import "admin/colors.min";
@import "admin/custom";

.color-red {
  color: red;
}

.datatable-footer {
  padding: 20px;
}

.page-container.alert-message {
  padding-bottom: 0px;
  padding-top: 0px;
}

.navigation > li.active > a .label.label-success {
  border-color: #4CAF50;
  background-color: #4CAF50;
}

.navigation > li.active > a .label.label-warning {
  border-color: #FF5722;
  background-color: #FF5722;
}